<form [formGroup]="canalForm" autocomplete="off" *ngIf="distribuidores.length > 0">

    <div class="form-group">
      <label>Nombre</label>

      <input class="form-control"
             type="text"
             formControlName="nombre"
             placeholder="Nombre"
             [class.is-invalid]="nombreNoValido">

      <small *ngIf="nombreNoValido" class="text-danger">
        Nombre vacio
      </small>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Codigo Distribuidor</label>
      </div>
      <select class="custom-select" 
              formControlName="distribuidorControl"
              [class.is-invalid]="distribuidorNoValido">
        <option selected> Escoja una opcion </option>
        <option *ngFor="let distribuidor of distribuidores" 
                [value]="distribuidor.codigo"> 
                {{ distribuidor.codigo }} -- {{ distribuidor.nombre }} 
        </option>
      </select>

      <small *ngIf="distribuidorNoValido" class="text-danger">
        Codigo vacio
      </small>

    </div>

    

    <button type="submit" class="btn btn-warning" *ngIf="canalUpdate" (click)="editar()">Editar</button>
    <button type="submit" class="btn btn-primary" *ngIf="!canalUpdate"  (click)="guardar()">Guardar</button>
    <button type="button" class="btn btn-info text-right ml-2" *ngIf="canalUpdate" (click)="cancelar()">Cancelar</button>

  </form>

  <div class="alert alert-danger" role="alert" *ngIf="distribuidores.length <=0">
    <h2 class="alert-heading">No puede registrar canales</h2>
    <p>No hay ningun distribuidor al que puedas asociar tu canal</p>
    <hr>
    <p class="mb-0">En la pestaña de distribuidor puedes crear nuevos distribuidores para asociar tu canal</p>
</div>

<app-table-canales [canales]="canal" (codigoSeleccionado)="editarCanal($event)" *ngIf="canal.length > 0"></app-table-canales>