<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/distribuidor"> Distribuidor </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/producto"> Productos </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/usuario"> Usuarios </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/canal"> Canales </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/horario"> Horarios </a>
        </li>

      </ul>
    </div>
  </nav>