<form [formGroup]="productoForm" autocomplete="off" *ngIf="distribuidores.length > 0">

  <div class="form-group">
    <label>Descripcion</label>

    <input class="form-control"
           type="text"
           formControlName="descripcion"
           [class.is-invalid]="descripcionNoValida">

    <small *ngIf="descripcionNoValida" class="text-danger">
      Descripcion vacia
    </small>
  </div>

  <div class="form-group">
    <label>Monto</label>

    <input class="form-control"
           type="text"
           formControlName="monto"
           [class.is-invalid]="montoNoValido">

    <small *ngIf="montoNoValido" class="text-danger">
      Monto vacio
    </small>
  </div>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text">Codigo Distribuidor</label>
    </div>
    <select class="custom-select" 
            formControlName="distribuidorControl"
            [class.is-invalid]="distribuidorNoValido">
      <option selected> Escoja una opcion </option>
      <option *ngFor="let distribuidor of distribuidores" 
              [value]="distribuidor.codigo"> 
              {{ distribuidor.codigo }} -- {{ distribuidor.nombre }} 
      </option>
    </select>

    <small *ngIf="distribuidorNoValido" class="text-danger">
      Codigo vacio
    </small>

  </div>

  <button type="submit" class="btn btn-warning" *ngIf="productoUpdate"  (click)="editar()">Editar</button>
  <button type="submit" class="btn btn-primary" *ngIf="!productoUpdate" (click)="guardar()">Guardar</button>
  <button type="button" class="btn btn-info text-right ml-2" *ngIf="productoUpdate" (click)="cancelar()">Cancelar</button>

</form>

<div class="alert alert-danger" role="alert" *ngIf="distribuidores.length <=0">
  <h2 class="alert-heading">No puede registrar productos</h2>
  <p>No hay ningun distribuidor al que puedas asociar tu producto</p>
  <hr>
  <p class="mb-0">En la pestaña de distribuidor puedes crear nuevos distribuidores para asociar tu producto</p>
</div>

<app-table-productos *ngIf="producto.length > 0" (codigoSeleccionado)="editarProducto($event)"  [productos]="producto"></app-table-productos>